/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background: #000000;
}
		
a:link, a:visited { color: #ffff00; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #ffff00; text-decoration: none; }

p { margin: 0px; padding: 0 0 10px 0; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.button_01 a {
	clear: both;
	display: block;
	width: 100px;
	height: 23px;
	padding-top: 3px;
	background: url(../images/templatemo_button_01.jpg) no-repeat;
	
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.fl { float: left; }
.fr { float: right; }

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 34px;
	color: #ffffff;
	font-weight: normal;	
}

h2 {
	margin: 0 0 20px 0;
	padding: 5px 0 10px 0;
	font-size: 36px;
	letter-spacing: 20px;
	color: #ffffff;
	font-weight: normal;	
}

h3 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;	
}

h4 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;	
}

.em_text {
	color: #00ffff;
}

.image_wrapper {
	margin-top: 3px;
}

.fl_image {
	float: left;
	margin-right: 10px 
}

.fr_image {
	float: right;
	margin-left: 10px 
}

#templatmeo_container {
	width: 812px;
	padding: 160px 0px 0 0;
	background: url(../images/templatemo_main_bg.jpg) top left no-repeat;
}

/* banner */
#templatemo_site_title_bar {
	width: 780px;
	height: 130px;
	padding: 0;
	text-align: right;
}

#templatemo_site_title_bar #site_title {
	text-align: right;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: normal;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: 5px;
}

/* end of banner */

/* menu */
#templatemo_menu {
	clear: both;
	width: 780px;
	height: 38px;
	overflow: hidden;
}

#templatemo_left_menu {
	float: left;
	width: 600px;
	padding: 0 0 0 6px;
	margin: 0px;
	list-style: none;
}

#templatemo_left_menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_left_menu li a {
	position: relative;
	float: left;
	display: block;
	height: 28px;
	width: 80px;
	padding: 10px 6px 0 0;
	margin-right: 11px;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #e7e2d9;	
	background: url(../images/templatemo_menu_right.png) right bottom no-repeat;
	outline: none;
}

#templatemo_left_menu li a span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(../images/templatemo_menu_left.png) no-repeat;
}

#templatemo_left_menu li a:hover, #templatemo_left_menu li .current {
	background: url(../images/templatemo_menu_hover_right.png) right bottom no-repeat;
}

#templatemo_left_menu li a:hover span, #templatemo_left_menu li .current span {
	position: absolute;
	width: 6px;
	height: 38px;
	left: -6px;
	bottom: 0px;
	background: url(../images/templatemo_menu_hover_left.png) no-repeat;	
}

#templatemo_right_menu {
	float: right;
	margin: 0px;
	padding: 10px 0 0 0;
	list-style: none;
	text-align: right;
}

#templatemo_right_menu li {
	margin: 0;
	padding: 0;
	display: inline;
}

#templatemo_right_menu li a {
	float: left;
	display: block;
	color: #6dcff6;
	padding: 0 0 0 15px;
	margin: 0 0 0 15px;
	text-decoration: none;
	border-left: 1px solid #6dcff6;
}

#templatemo_right_menu li a:hover {
	text-decoration: underline;
}

#templatemo_right_menu li .first {
	border: none;
	padding: 0;
	margin: 0;
}

/* end of menu */


/* banner */

#templatemo_banner {
	clear: both;
	width: 780px;
	padding: 170px 15px 15px 15px;
	margin-bottom: 30px;
	background: #00aeef url(../images/templatemo_banner_bg.jpg) center top no-repeat;
}

#templatemo_banner p {
	text-align: justify;
}

#templatemo_banner h2 span {
	display: block;
	margin-top: 25px;
	color: #fff200;
	font-size: 30px;	
	letter-spacing: 20px;
}

#templatemo_banner #banner_left_section {
	float: left;
	width: 475px;
}

#templatemo_banner h3 {
	text-align: center;
}

#templatemo_banner #login_section {
	float: right;
	margin-top: 70px;
	width: 230px;
	height: 117px;
	padding: 30px 15px 15px 30px;
	background: url(../images/templatemo_login_bg.jpg) top left no-repeat;
}

#login_section .form_row {
	margin-bottom: 3px;
}

#login_section .logindiv {
	margin: 0;
	padding: 0;
	text-align: right;	
}

#login_section label {
	margin-right: 10px;
}

#login_section .inputfield {
	width: 130px;
	height: 18px;
	padding: 1px 0;
	line-height: normal;
	color: #99836c;
}

#login_section .button {
	width: 60px;
	line-height: normal;
	margin: 0;
	height: 23px;
}
/* end of banner */

#templatemo_content {
	clear: both;
	margin-bottom: 30px;
}

#main_column {
	float: left;
	width: 490px;
}

#main_column_2 {
	float: left;
	width: 490px;
}

#main_column_3 {
	float: left;
	width: 490px;
}

#side_column { 
	float: right;
	width: 260px;
	padding-top: 30px;
}

.section_w490 {
	clear: both;
	width: 490px;
}

.section_w220 {
	float: left;
	width: 235px;
	padding-right: 10px;
	margin-bottom: 25px;
}

.registrationField {
	float :left;
	width : 435px;
	padding: 10px;
}	

.registration_form {
	clear: both;
	float: left;
	width: 450px;
	padding: 10px;
}	

.registration_form form {
	margin: 0;
	padding: 0;
	text-align: right;	
}

.registration_form .inputfield {
	width: 320px;
	height: 18px;
	padding: 1px 0;
	line-height: normal;
	color: #99836c;
}

#quick_contact {
	clear: both;
	width: 208px;
	height: 160px;
	padding: 30px;
	font-weight: bold;
	overflow: hidden;
	background: url(../images/templatmeo_quickcontact_bg.jpg) no-repeat;
}

#quick_contact h3 {
	font-weight: bold;
}

#quick_contact .list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#quick_contact .list li {
	margin: 0px;
	padding: 0 0 5px 0;
}
/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 820px;
	margin-bottom: 15px;
	text-align: center;
}

#templatemo_footer .footer_menu {
	padding: 15px 0;
	margin: 0 0 15px 0;
	list-style: none;
	background: #005588;
}

#body_banner {
	clear: both;
	width: 780px;
	padding: 170px 15px 0 15px;
	margin-bottom: 30px;
	background: #00aeef url(../images/templatemo_banner_bg.jpg) center top no-repeat;
}

#body_banner p {
	text-align: justify;
}

#body_banner h2 span {
	display: block;
	margin-top: 25px;
	color: #fff200;
	font-size: 30px;	
	letter-spacing: 20px;
}

.section_body {
	clear: both;
	width: 780px;
}

.section_body_content {
	float: left;
	width: 650px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 25px;
}

.section_text_class {
	padding: 10px 20px 5px 1px;
}

#main_column_aboutus {
	float: left;
	width: 500px;
}

#side_column_aboutus { 
	float: right;
	width: 270px;
	padding-top: 30px;
	padding-right: 30px;
}
.section_body_aboutus {
	clear: both;
	width: 490px;
}

.section_body_content_aboutus {
	float: left;
	width: 420px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 25px;
}

#quick_contact_aboutus {
	clear: both;
	width: 270px;
	height: 360px;
	padding: 30px 70px 30px 30px;
	font-weight: bold;
	overflow: hidden;
	background: url(../images/astro_profile_pic_cut.jpg) no-repeat;
}

.tab-content {
	
}

.tab {
	display:none;
}

.tab.current {
	display:block;
}

.navContent {
	display:none;
}

.navContent.currentStat {
	display:block;
}

.footer_menu li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

.footer_menu li a{
	padding: 0 10px;
	display: inline;
	color: #ffffff;
	text-decoration: none;
	border-left: 1px solid #ffffff;
}

.footer_menu li a:hover {
	text-decoration: underline;
}
/* end of footer */
